process {
    withName: ADAPTERREMOVAL_PE {
        ext.args = [
            "--minlength ${params.reads_minlength}",
            "--adapter1 ${params.adapterremoval_adapter1} --adapter2 ${params.adapterremoval_adapter2}",
            "--minquality ${params.adapterremoval_minquality} --trimns",
            params.adapterremoval_trim_quality_stretch ? "--trim_qualities" : "--trimwindows 4"
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/QC_shortreads/adapterremoval/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*.{settings}"
            ],
            [
                path: { "${params.outdir}/QC_shortreads/adapterremoval/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: "*.{truncated,discarded}.gz",
                enabled: params.save_clipped_reads
            ]
        ]
        ext.prefix = { "${meta.id}_run${meta.run}_ar2" }
        tag = { "${meta.id}_run${meta.run}" }
    }

    withName: ADAPTERREMOVAL_SE {
        ext.args = [
            "--minlength ${params.reads_minlength}",
            "--adapter1 ${params.adapterremoval_adapter1}",
            "--minquality ${params.adapterremoval_minquality} --trimns",
            params.adapterremoval_trim_quality_stretch ? "--trim_qualities" : "--trimwindows 4"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/QC_shortreads/adapterremoval/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{settings}"
        ]
        ext.prefix = { "${meta.id}_run${meta.run}_ar2" }
        tag = { "${meta.id}_run${meta.run}" }
    }
}