/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/mag Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                                = null
    assembly_input                       = null
    single_end                           = false

    // short read preprocessing options
    skip_clipping                        = false
    clip_tool                            = 'fastp'
    save_clipped_reads                   = false
    reads_minlength                      = 15
    fastp_save_trimmed_fail              = false
    fastp_qualified_quality              = 15
    fastp_cut_mean_quality               = 15
    fastp_trim_polyg                     = false
    adapterremoval_minquality            = 2
    adapterremoval_adapter1              = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCACNNNNNNATCTCGTATGCCGTCTTCTGCTTG'
    adapterremoval_adapter2              = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT'
    adapterremoval_trim_quality_stretch  = false
    keep_phix                            = false
    skip_shortread_qc                    = false
    // long read preprocessing options
    longread_adaptertrimming_tool        = "porechop_abi"
    longread_filtering_tool              = "filtlong"
    // phix_reference                    = "ftp://ftp.ncbi.nlm.nih.gov/genomes/genbank/viral/Enterobacteria_phage_phiX174_sensu_lato/all_assembly_versions/GCA_002596845.1_ASM259684v1/GCA_002596845.1_ASM259684v1_genomic.fna.gz"
    phix_reference                       = null
    save_phixremoved_reads               = false
    host_fasta                           = null
    host_fasta_bowtie2index              = null
    host_genome                          = null
    host_removal_verysensitive           = false
    host_removal_save_ids                = false
    save_hostremoved_reads               = false
    bbnorm                               = false
    bbnorm_target                        = 100
    bbnorm_min                           = 5
    save_bbnorm_reads                    = false

    // binning options
    bowtie2_mode                         = null
    binning_map_mode                     = 'group'
    save_assembly_mapped_reads           = false
    skip_binning                         = false
    min_contig_size                      = 1500
    min_length_unbinned_contigs          = 1000000
    max_unbinned_contigs                 = 100
    skip_prokka                          = false
    longread_percentidentity             = null
    shortread_percentidentity            = null
    prokka_fast_mode                     = false
    prokka_with_compliance               = false
    prokka_compliance_centre             = null

    // assembly options
    coassemble_group                     = false
    spades_options                       = null
    spades_downstreaminput               = 'scaffolds'
    megahit_options                      = null
    skip_spades                          = false
    skip_spadeshybrid                    = false
    skip_megahit                         = false
    skip_quast                           = false
    skip_prodigal                        = false
    skip_metamdbg                        = false
    skip_flye                            = false

    // virus identification options
    run_virus_identification             = false
    genomad_db                           = null
    genomad_min_score                    = 0.7
    genomad_splits                       = 1

    // ancient DNA assembly validation options
    ancient_dna                          = false
    pydamage_accuracy                    = 0.5
    skip_ancient_damagecorrection        = false
    freebayes_ploidy                     = 1
    freebayes_min_basequality            = 20
    freebayes_minallelefreq              = 0.33
    bcftools_view_high_variant_quality   = 30
    bcftools_view_medium_variant_quality = 20
    bcftools_view_minimal_allelesupport  = 3

    // taxonomy options
    cat_db                               = null
    cat_db_generate                      = false
    cat_allow_unofficial_lineages        = false
    cat_classify_unbinned                = false
    cat_no_suggestive_asterisks          = false
    save_cat_db                          = false
    skip_gtdbtk                          = false
    gtdb_db                              = "https://data.gtdb.aau.ecogenomic.org/releases/release226/226.0/auxillary_files/gtdbtk_package/full_package/gtdbtk_r226_data.tar.gz"
    gtdbtk_min_completeness              = 50.0
    gtdbtk_max_contamination             = 10.0
    gtdbtk_min_perc_aa                   = 10
    gtdbtk_min_af                        = 0.65
    gtdbtk_pplacer_cpus                  = 1
    gtdbtk_pplacer_useram                = false
    gtdbtk_use_full_tree                 = false
    gtdbtk_skip_aniscreen                = false

    // long read preprocessing options
    skip_adapter_trimming                = false
    skip_longread_filtering              = false
    skip_longread_qc                     = false
    keep_lambda                          = false
    longreads_min_quality                = null
    longreads_min_length                 = 1000
    longreads_keep_percent               = 90
    longreads_length_weight              = 10
    // lambda_reference                  = "ftp://ftp.ncbi.nlm.nih.gov/genomes/genbank/viral/Escherichia_virus_Lambda/all_assembly_versions/GCA_000840245.1_ViralProj14204/GCA_000840245.1_ViralProj14204_genomic.fna.gz"
    lambda_reference                     = null
    save_lambdaremoved_reads             = false
    save_porechop_reads                  = false
    save_filtered_longreads              = false

    // binning options
    skip_metabat2                        = false
    skip_maxbin2                         = false
    skip_metabinner                      = false
    bin_metabinner_scale                 = "large"
    skip_concoct                         = false
    skip_comebin                         = false
    bin_concoct_chunksize                = 10000
    bin_concoct_overlap                  = 0
    bin_concoct_donotconcatlast          = false
    bin_min_size                         = 0
    bin_max_size                         = null
    bin_domain_classification            = false
    bin_domain_classification_tool       = 'tiara'
    tiara_min_length                     = 3000
    refine_bins_dastool                  = false
    refine_bins_dastool_threshold        = 0.5
    postbinning_input                    = 'raw_bins_only'
    exclude_unbins_from_postbinning      = false

    // Bin QC
    skip_binqc                           = false
    run_busco                            = true
    run_checkm                           = false
    run_checkm2                          = false
    busco_db                             = null
    busco_db_lineage                     = 'auto'
    save_busco_db                        = false
    busco_clean                          = false
    checkm_download_url                  = "https://zenodo.org/records/7401545/files/checkm_data_2015_01_16.tar.gz"
    checkm_db                            = null
    save_checkm_data                     = false
    checkm2_db                           = null
    checkm2_db_version                   = 14897628
    // corresponds to Zenodo record  ID
    save_checkm2_data                    = false
    run_gunc                             = false
    gunc_database_type                   = 'progenomes'
    gunc_db                              = null
    gunc_save_db                         = false

    // Reproducibility options
    megahit_fix_cpu_1                    = false
    spades_fix_cpus                      = -1
    spadeshybrid_fix_cpus                = -1
    metabat_rng_seed                     = 1

    // Annotation options
    skip_metaeuk                         = false
    metaeuk_mmseqs_db                    = null
    metaeuk_db                           = null
    save_mmseqs_db                       = false

    // References
    //genome                     = null // we use --host_genome instead
    igenomes_base                        = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore                      = false

    // MultiQC options
    multiqc_config                       = null
    multiqc_title                        = null
    multiqc_logo                         = null
    max_multiqc_email_size               = '25.MB'
    multiqc_methods_description          = null

    // Boilerplate options
    outdir                               = null
    publish_dir_mode                     = 'copy'
    email                                = null
    email_on_fail                        = null
    plaintext_email                      = false
    monochrome_logs                      = false
    hook_url                             = System.getenv('HOOK_URL')
    help                                 = false
    help_full                            = false
    show_hidden                          = false
    version                              = false
    pipelines_testdata_base_path         = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix                  = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

    // Config options
    config_profile_name                  = null
    config_profile_description           = null

    custom_config_version                = 'master'
    custom_config_base                   = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact               = null
    config_profile_url                   = null

    // Schema validation default options
    validate_params                      = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes                                   = true
        process.beforeScript                         = 'echo $HOSTNAME'
        cleanup                                      = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled        = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        conda.channels       = ['conda-forge', 'bioconda']
        apptainer.enabled    = false
    }
    mamba {
        conda.enabled        = true
        conda.useMamba       = true
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    docker {
        docker.enabled       = true
        conda.enabled        = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
        docker.runOptions    = '-u $(id -u):$(id -g)'
    }
    arm64 {
        process.arch            = 'arm64'
        // TODO https://github.com/nf-core/modules/issues/6694
        // For now if you're using arm64 you have to use wave for the sake of the maintainers
        // wave profile
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    emulate_amd64 {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled       = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        shifter.enabled      = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    shifter {
        shifter.enabled      = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        charliecloud.enabled = false
        apptainer.enabled    = false
    }
    charliecloud {
        charliecloud.enabled = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        apptainer.enabled    = false
    }
    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        conda.enabled        = false
        docker.enabled       = false
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gpu {
        docker.runOptions      = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions   = '--nv'
        singularity.runOptions = '--nv'
    }
    test {
        includeConfig 'conf/test.config'
    }
    test_minimal {
        includeConfig 'conf/test_minimal.config'
    }
    test_full {
        includeConfig 'conf/test_full.config'
    }
    test_alternatives {
        includeConfig 'conf/test_alternatives.config'
    }
    test_single_end {
        includeConfig 'conf/test_single_end.config'
    }
    test_longreadonly {
        includeConfig 'conf/test_longreadonly.config'
    }
    test_longreadonly_alternatives {
        includeConfig 'conf/test_longreadonly_alternatives.config'
    }
    test_hybrid {
        includeConfig 'conf/test_hybrid.config'
    }
    test_assembly_input {
        includeConfig 'conf/test_assembly_input.config'
    }
}

// Load nf-core custom profiles from different institutions

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load nf-core/mag custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"


// Load nf-core/mag custom profiles from different institutions.
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/pipeline/mag.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry = 'quay.io'
docker.registry = 'quay.io'
podman.registry = 'quay.io'
singularity.registry = 'quay.io'
charliecloud.registry = 'quay.io'

// Load igenomes.config if required
includeConfig !params.igenomes_ignore ? 'conf/igenomes.config' : 'conf/igenomes_ignored.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",
    "-e",
    "-u",
    "-o",
    "pipefail",
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/mag'
    contributors    = [
        [
            name: 'Hadrien Gourlé',
            affiliation: 'Department of Animal Breeding and Genetics, Swedish University of Agricultural Sciences, Uppsala, Swden',
            email: '',
            github: 'HadrienG',
            contribution: ['author'],
            orcid: '0000-0001-9807-1082',
        ],
        [
            name: 'Daniel Straub',
            affiliation: 'Quantitative Biology Center (QBiC), University of Tübingen, Tübingen, Germany',
            email: '',
            github: 'd4straub',
            contribution: ['author', 'maintainer'],
            orcid: '0000-0002-2553-0660',
        ],
        [
            name: 'Sabrina Krakau',
            affiliation: 'Quantitative Biology Center (QBiC), University of Tübingen, Tübingen, Germany',
            email: '',
            github: 'skrakau',
            contribution: ['contributor'],
            orcid: '0000-0003-0603-7907',
        ],
        [
            name: 'Antonia Schuster',
            affiliation: 'Quantitative Biology Center (QBiC), University of Tübingen, Tübingen, Germany',
            email: '',
            github: 'AntoniaSchuster',
            contribution: ['author'],
            orcid: '',
        ],
        [
            name: 'James A. Fellows Yates',
            affiliation: 'Department of Archaeogenetics, Max Planck Institute for Evolutionary Anthropology, Leipzig, Germany',
            email: 'jfy133@gmail.com',
            github: 'jfy133',
            contribution: ['maintainer'],
            orcid: '0000-0001-5585-6277',
        ],
        [
            name: 'Maxime Borry',
            affiliation: 'Department of Archaeogenetics, Max Planck Institute for Evolutionary Anthropology, Leipzig, Germany',
            email: '',
            github: 'maxibor',
            contribution: ['contributor'],
            orcid: '0000-0001-9140-7559',
        ],
        [
            name: 'Jim Downie',
            affiliation: 'Wellcome Sanger Institute, Hinxton, UK',
            email: '',
            github: 'prototaxites',
            contribution: ['maintainer'],
            orcid: '0000-0002-7175-0533',
        ],
        [
            name: 'Carson Miller',
            affiliation: 'University of Washington, Seattle, USA',
            email: '',
            github: 'CarsonJM',
            contribution: ['contributor'],
            orcid: '0000-0001-9861-4884',
        ],
        [
            name: 'Adam Rosenbaum',
            affiliation: 'Umeå University Hospital, Umeå, Sweden',
            email: '',
            github: 'muabnezor',
            contribution: ['maintainer'],
            orcid: '0009-0003-4573-5174',
        ],
        [
            name: 'Diego Alvarez Saravia',
            affiliation: 'Universidad de Magallanes, Magallanes, Chile',
            email: '',
            github: 'dialvarezs',
            contribution: ['maintainer'],
            orcid: '0000-0003-0753-274X',
        ],
    ]
    homePage        = 'https://github.com/nf-core/mag'
    description     = """Assembly, binning and annotation of metagenomes"""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.04.2'
    version         = '5.3.0dev'
    doi             = '10.1093/nargab/lqac007'
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.5.1'
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs      = params.monochrome_logs
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
