params {
    config_profile_description = 'UW Hyak Pedslabs cluster profile provided by nf-core/configs.'
    config_profile_contact = 'Carson J. Miller (@CarsonJM)'
    config_profile_url = 'https://www.peds.uw.edu/'
    max_memory = 742.GB
    max_cpus = 40
    max_time = 72.h
    }

process {
    executor = 'slurm'
    clusterOptions = { task.attempt < 4 ? ( task.attempt < 3 ? "-A stf" : "-A stf" ) : "-A pedslabs" }

    withName:'.*' {
        queue = { task.attempt < 4 ? ( task.attempt < 3 ? 'ckpt' : 'cpu-g2-mem2x' ) : 'compute-hugemem' }
        errorStrategy = { task.attempt < 5 ? 'retry' : 'ignore' }
        maxRetries = 5
        maxErrors = '-1'
    }
}

executor {
    queuesize = 50
    submitRateLimit = '1 sec'
}

singularity {
    enabled = true
    autoMounts = true
}

debug {
    cleanup = false
}
