config {
    // Location of nf-tests
    testsDir "."

    // nf-test directory used to create temporary files for each test
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"

    // location of an optional nextflow.config file specific for executing tests
    configFile "tests/nextflow.config"
}
