process {
    withName: BBMAP_BBNORM {
        ext.args = [
            params.bbnorm_target ? "target=${params.bbnorm_target}" : '',
            params.bbnorm_min    ? "min=${params.bbnorm_min}"       : '',
        ].join(' ').trim()
        publishDir = [
            [
                path : { "${params.outdir}/bbmap/bbnorm/logs" },
                enabled: params.save_bbnorm_reads,
                mode : params.publish_dir_mode,
                pattern: "*.log"
            ],
            [
                path : { "${params.outdir}/bbmap/bbnorm/"},
                mode : 'copy',
                enabled: params.save_bbnorm_reads,
                mode : params.publish_dir_mode,
                pattern: "*.fastq.gz"
            ]
        ]
    }
}