params {
    // Base directory for nf-core/modules test data
    modules_testdata_base_path = 's3://ngi-igenomes/testdata/nf-core/modules/'

    // Base directory for nf-core/fetchngs test data
    pipelines_testdata_base_path = 's3://ngi-igenomes/testdata/nf-core/pipelines/fetchngs/1.15.0/'

    max_cpus    = 4
    max_memory  = '12.GB'
    time        = '2.h'
}

// Impose sensible resource limits for testing
process {
    withName: BOWTIE2_PHIX_REMOVAL_ALIGN {
        cpus   = 1
        memory = 12.GB
        time   = 2.h
    }

    withName: CENTRIFUGE_CENTRIFUGE {
        cpus   = 1
        memory = 12.GB
        time   = 2.h
    }

    withName: BOWTIE2_ASSEMBLY_ALIGN {
        cpus   = 1
        memory = 12.GB
        time   = 2.h
    }

    withName: METABAT2_JGISUMMARIZEBAMCONTIGDEPTHS {
        cpus   = 1
        memory = 12.GB
        time   = 2.h
    }

    withName: QUAST_BINS {
        cpus   = 1
        memory = 12.GB
        time   = 2.h
    }

    withName: METABAT2_METABAT2 {
        cpus   = 1
        memory = 12.GB
        time   = 2.h
    }
}

// Impose same minimum Nextflow version as the pipeline for testing
manifest {
    nextflowVersion = '!>=23.04.0'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = true }
dag      { enabled = false }

// Load modules test_data.config
includeConfig 'https://github.com/nf-core/modules/raw/master/tests/config/test_data.config'


//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// BELOW IS ONLY FOR CJM TESTING!!!
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
params {
    config_profile_description = 'UW Hyak Pedslabs cluster profile provided by nf-core/configs.'
    config_profile_contact = 'Carson J. Miller (@CarsonJM)'
    config_profile_url = 'https://www.peds.uw.edu/'
    // max_memory = 742.GB
    // max_cpus = 40
    // max_time = 72.h
    }

process {
    executor = 'slurm'
    clusterOptions = { task.attempt < 4 ? ( task.attempt < 3 ? "-A stf" : "-A stf" ) : "-A pedslabs" }

    withName:'.*' {
        queue = { task.attempt < 4 ? ( task.attempt < 3 ? 'cpu-g2-mem2x' : 'cpu-g2-mem2x' ) : 'compute-hugemem' }
        errorStrategy = { task.attempt < 5 ? 'retry' : 'ignore' }
        maxRetries = 5
        maxErrors = '-1'
    }
}

executor {
    queuesize = 50
    submitRateLimit = '1 sec'
}

singularity {
    enabled = true
    autoMounts = true
}

debug {
    cleanup = false
}
