// include test data config by default
includeConfig '../conf/test_data.config'

// Impose sensible resource limits for testing
process {
    withName: '.*' {
        cpus   = 2
        memory = 3.GB
        time   = 2.h
    }
}

// Impose same minimum Nextflow version as the pipeline for testing
manifest {
    nextflowVersion = '!>=23.04.0'
}

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }
