/*
 * -------------------------------------------------
 *  nf-core/mag Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {

  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 7.GB * task.attempt, 'memory' ) }
  time = { check_max( 4.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

  // Process-specific resource requirements
  withName: busco_download_db {
    time = 4.h
  }
  withName: busco {
    errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'finish' }
  }
  withName: phix_download_db {
    time = 4.h
  }
  withName: porechop {
    cpus = { check_max (4 * task.attempt, 'cpus' ) }
    memory = { check_max (30.GB * task.attempt, 'memory' ) }
    time = { check_max (4.h * task.attempt, 'time' ) }
  }
  withName: nanolyse {
    cpus = { check_max (2 * task.attempt, 'cpus' ) }
    memory = { check_max (10.GB * task.attempt, 'memory' ) }
    time = { check_max (3.h * task.attempt, 'time' ) }
  }
  //filtlong: exponential increase of memory and time with attempts
  withName: filtlong {
    cpus = { check_max (8 * task.attempt, 'cpus' ) }
    memory = { check_max (64.GB * (2**(task.attempt-1)), 'memory' ) }
    time = { check_max (24.h * (2**(task.attempt-1)), 'time' ) }
  }
  withName: host_bowtie2index {
    cpus = { check_max (10 * task.attempt, 'cpus' ) }
    memory = { check_max (20.GB * task.attempt, 'memory' ) }
    time = { check_max (4.h * task.attempt, 'time' ) }
  }
  withName: remove_host {
    cpus = { check_max (10 * task.attempt, 'cpus' ) }
    memory = { check_max (10.GB * task.attempt, 'memory' ) }
    time = { check_max (6.h * task.attempt, 'time' ) }
  }
  withName: remove_phix {
    cpus = { check_max (4 * task.attempt, 'cpus' ) }
    memory = { check_max (8.GB * task.attempt, 'memory' ) }
    time = { check_max (6.h * task.attempt, 'time' ) }
  }
  withName: centrifuge {
    cpus = { check_max (8 * task.attempt, 'cpus' ) }
    memory = { check_max (40.GB * task.attempt, 'memory' ) }
    time = { check_max (12.h * task.attempt, 'time' ) }
  }
  withName: kraken2 {
    cpus = { check_max (8 * task.attempt, 'cpus' ) }
    memory = { check_max (40.GB * task.attempt, 'memory' ) }
    time = { check_max (12.h * task.attempt, 'time' ) }
  }
  withName: krona {
    cpus = { check_max (8 * task.attempt, 'cpus' ) }
    memory = { check_max (20.GB * task.attempt, 'memory' ) }
    time = { check_max (12.h * task.attempt, 'time' ) }
  }
  withName: cat {
    cpus = { check_max (8 * task.attempt, 'cpus' ) }
    memory = { check_max (40.GB * task.attempt, 'memory' ) }
    time = { check_max (12.h * task.attempt, 'time' ) }
  }
  withName: megahit {
    cpus = { check_megahit_cpus (8, task.attempt ) }
    memory = { check_max (40.GB * task.attempt, 'memory' ) }
    time = { check_max (16.h * task.attempt, 'time' ) }
  }
  //SPAdes returns error(1) if it runs out of memory (and for other reasons as well...)!
  //exponential increase of memory and time with attempts, keep number of threads to enable reproducibility
  withName: spades {
    cpus = { check_spades_cpus (10, task.attempt) }
    memory = { check_max (64.GB * (2**(task.attempt-1)), 'memory' ) }
    time = { check_max (24.h * (2**(task.attempt-1)), 'time' ) }
    errorStrategy = { task.exitStatus in [143,137,1] ? 'retry' : 'finish' }
    maxRetries = 5
  }
  withName: spadeshybrid {
    cpus = { check_spadeshybrid_cpus (10, task.attempt) }
    memory = { check_max (64.GB * (2**(task.attempt-1)), 'memory' ) }
    time = { check_max (24.h * (2**(task.attempt-1)), 'time' ) }
    errorStrategy = { task.exitStatus in [143,137,1] ? 'retry' : 'finish' }
    maxRetries = 5
  }
  withName: bowtie2 {
    cpus = { check_max (2 * task.attempt, 'cpus' ) }
    memory = { check_max (8.GB * task.attempt, 'memory' ) }
    time = { check_max (8.h * task.attempt, 'time' ) }
  }
  withName: metabat {
    cpus = { check_max (8 * task.attempt, 'cpus' ) }
    memory = { check_max (20.GB * task.attempt, 'memory' ) }
    time = { check_max (8.h * task.attempt, 'time' ) }
  }
  withName:get_software_versions {
    cache = false
  }
}
