//Profile config names for nf-core/configs
params {
  config_profile_description = 'BINAC cluster profile for jobs requiring >128 GB memory provided by nf-core/configs.'
  config_profile_contact = 'just a test right now'
  config_profile_url = 'https://www.bwhpc-c5.de/wiki/index.php/Category:BwForCluster_BinAC'
}

singularity {
  enabled = true
}

process {
  beforeScript = 'module load devel/singularity/3.0.1'
  executor = 'pbs'
  queue = 'smp'
}

params {
  igenomes_base = '/nfsmounts/igenomes'
  max_memory = 1024.GB
  max_cpus = 40
  max_time = 730.h
}