process { withName: 'FASTQC' { container = 'modules/nf-core/fastqc/.conda-lock/linux_arm64-bd-e455e32f745abe68_1.txt' } }
process { withName: 'MULTIQC' { container = 'modules/nf-core/multiqc/.conda-lock/linux_arm64-bd-d167b8012595a136_1.txt' } }
process { withName: 'PRODIGAL' { container = 'modules/nf-core/prodigal/.conda-lock/linux_arm64-bd-8f955ee5391535ca_1.txt' } }
process { withName: 'PROKKA' { container = 'modules/nf-core/prokka/.conda-lock/linux_arm64-bd-2b8a3d67cd9e777a_1.txt' } }
