process { withName: 'FASTQC' { container = 'community.wave.seqera.io/library/fastqc:0.12.1--e455e32f745abe68' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.34--d167b8012595a136' } }
process { withName: 'PRODIGAL' { container = 'community.wave.seqera.io/library/prodigal_pigz:8f955ee5391535ca' } }
process { withName: 'PROKKA' { container = 'community.wave.seqera.io/library/prokka_openjdk_parallel:2b8a3d67cd9e777a' } }
process { withName: 'PYDAMAGE_ANALYZE' { container = 'community.wave.seqera.io/library/pydamage:1.0--f34ec9a9a17b6a3f' } }
process { withName: 'PYDAMAGE_FILTER' { container = 'community.wave.seqera.io/library/pydamage:1.0--f34ec9a9a17b6a3f' } }
