/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mag -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name         = 'Test profile for running with AdapterRemoval and domain classification'
    config_profile_description  = 'Minimal test dataset to check pipeline function with AdapterRemoval data and domain classification.'

    // Input data
    input                       = params.pipelines_testdata_base_path + 'mag/samplesheets/samplesheet.euk.csv'
    centrifuge_db               = params.pipelines_testdata_base_path + 'mag/test_data/minigut_cf.tar.gz'
    kraken2_db                  = params.pipelines_testdata_base_path + 'mag/test_data/minigut_kraken.tgz'
    metaeuk_db                  = params.pipelines_testdata_base_path + '/modules/data/proteomics/database/yeast_UPS.fasta'
    skip_krona                  = true
    min_length_unbinned_contigs = 1
    max_unbinned_contigs        = 2
    busco_db                    = "https://busco-data.ezlab.org/v5/data/lineages/bacteria_odb10.2024-01-08.tar.gz"
    skip_gtdbtk                 = true
    gtdbtk_min_completeness     = 0.01
    clip_tool                   = 'adapterremoval'
    skip_concoct                = true
    bin_domain_classification   = true
}
