/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mag -profile test_virus_identification,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile for running virus_identification'
    config_profile_description = 'Minimal test dataset to check pipeline function virus identification'

    // Input data
    input                      = params.pipelines_testdata_base_path + 'mag/samplesheets/samplesheet.csv'
    run_virus_identification   = true
    genomad_splits             = 7

    // For computational efficiency
    reads_minlength            = 150
    coassemble_group           = true
    skip_gtdbtk                = true
    gtdbtk_min_completeness    = 0.01
    skip_binning               = true
    skip_prokka                = true
    skip_spades                = true
    skip_spadeshybrid          = true
    skip_quast                 = true
    skip_prodigal              = true
    skip_krona                 = true
    skip_adapter_trimming      = true
    skip_metabat2              = true
    skip_maxbin2               = true
    skip_busco                 = true
}
