/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mag -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name         = 'Test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline function'

    // Input data
    input                       = params.pipelines_testdata_base_path + 'mag/samplesheets/samplesheet.multirun.v4.csv'
    min_length_unbinned_contigs = 1
    max_unbinned_contigs        = 2
    // Including (even length filtered) CONOCT bins adds another 5 minutes, so we skip it in the default test (testing in assemblyinput)
    skip_concoct                = true
    skip_comebin                = true
    busco_db                    = params.pipelines_testdata_base_path + 'mag/databases/busco/bacteria_odb10.2024-01-08.tar.gz'
    busco_db_lineage            = 'bacteria_odb10'
    busco_clean                 = true
    // Prokka is the slowest step of the tests, so we speed up by turning off CDS/product searching
    prokka_fast_mode            = true
    // Source: https://data.ace.uq.edu.au/public/gtdb/data/releases/latest/auxillary_files/gtdbtk_package/mockup_db/
    gtdb_db                     = params.pipelines_testdata_base_path + 'mag/databases/gtdbtk/gtdbtk_mockup_20250422.tar.gz'
    cat_db                      = params.pipelines_testdata_base_path + 'mag/databases/cat/minigut_cat.tar.gz'
    cat_no_suggestive_asterisks = true
    gtdbtk_min_completeness     = 0.01
    // Required for the small GTDBTk dummy database aa
    gtdbtk_skip_aniscreen       = true
    gtdbtk_use_full_tree        = true
    megahit_fix_cpu_1           = true
    spades_fix_cpus             = 1
}

process {

    withName: PROKKA {
        ext.args = { params.prokka_with_compliance ? "--fast --metagenome --compliant --centre ${params.prokka_compliance_centre}" : "--metagenome --fast" }
    }
}
