/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/mag -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    // hg19 reference with highly conserved and low-complexity regions masked by Brian Bushnell
    host_fasta                 = "s3://ngi-igenomes/test-data/mag/hg19_main_mask_ribo_animal_allplant_allfungus.fa.gz"
    input                      = "https://github.com/nf-core/test-datasets/raw/refs/heads/mag/samplesheets/samplesheet.full.v4.csv"

    //cat_db                     = "s3://ngi-igenomes/test-data/mag/CAT_prepare_20210107.tar.gz" // Current full test fails because of multiple classifications that CAT_pack summarise does not support
    gtdb_db                    = "s3://nf-core-awsmegatests/mag/full_test_data/gtdb/release226/"
    skip_gtdbtk                = false

    skip_spades                = false
    skip_spadeshybrid          = true

    // reproducibility options for assembly
    spades_fix_cpus            = 10
    spadeshybrid_fix_cpus      = 10
    megahit_fix_cpu_1          = true

    // mapping options
    longread_percentidentity   = 85

    // available options to enable reproducibility for BUSCO (--busco_db) not used here
    // to allow detection of possible problems in automated lineage selection mode using public databases

    // Skip CONCOCT due to timeout issues
    skip_concoct               = true

    run_checkm2                = true
    run_busco                  = false

    // Set Prokka compliance mode to allow metaSPAdes bins to be annotated
    prokka_with_compliance     = true
    prokka_compliance_centre   = "nfcore"
}

process {
    withName: METASPADES {
        scratch = true
    }
}
