/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Runs input data but skipping all possible steps to allow for a fast testing
    profile for input checks etc.

    Use as follows:
        nextflow run nf-core/mag -profile test_minimal,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name           = 'Test nothing profile'
    config_profile_description    = 'Minimal test dataset to check pipeline function'

    // Input data
    input                         = params.pipelines_testdata_base_path + 'mag/samplesheets/samplesheet.v4.csv'
    skip_clipping                 = true
    skip_adapter_trimming         = true
    skip_longread_filtering       = true
    skip_spades                   = true
    skip_spadeshybrid             = true
    skip_megahit                  = true
    skip_metamdbg                 = false
    skip_flye                     = false
    skip_quast                    = true
    skip_prodigal                 = true
    skip_binning                  = true
    skip_metabat2                 = true
    skip_maxbin2                  = true
    skip_concoct                  = true
    skip_comebin                  = true
    skip_metabinner               = true
    skip_prokka                   = true
    skip_binqc                    = true
    run_busco                     = false
    run_checkm                    = false
    run_checkm2                   = false
    skip_gtdbtk                   = true
    gtdbtk_min_completeness       = 0.01
    gtdbtk_skip_aniscreen         = true
    skip_metaeuk                  = true
    skip_ancient_damagecorrection = true
}
