/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
  max_cpus = 2
  max_memory = 7.GB
  max_time = 48.h
  params.outdir = "./tests"
  params.temp_dir = "./tests/tmp_dir"
  // Input data
  singleEnd = false
  params.manifest = 'https://github.com/HadrienG/test-datasets/raw/mag/test_data/manifest.txt'
}
