/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mag -profile test_longread,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}


process {
    withName: METAEUK_EASYPREDICT {
        cpus = 1  // to keep output order consistent
        ext.args = '-s 1 --max-seqs 10 --max-accept 1'
    }
}


params {
    config_profile_name             = 'Test assembly input profile'
    config_profile_description      = 'Minimal test dataset to check assembly input'

    input                           = params.pipelines_testdata_base_path + 'mag/samplesheets/samplesheet.v4.csv'
    assembly_input                  = params.pipelines_testdata_base_path + 'mag/samplesheets/assembly_samplesheet.csv'

    busco_db                        = params.pipelines_testdata_base_path + 'mag/databases/busco/bacteria_odb10.2024-01-08.tar.gz'
    busco_db_lineage                = 'bacteria_odb10'
    busco_clean                     = true

    skip_quast                      = true
    skip_prodigal                   = true
    skip_prokka                     = true
    skip_gtdbtk                     = true
    gtdbtk_skip_aniscreen           = true
    skip_concoct                    = false
    skip_comebin                    = true
    skip_metabinner                 = true

    refine_bins_dastool             = true
    refine_bins_dastool_threshold   = 0.0
    postbinning_input               = 'refined_bins_only'
    exclude_unbins_from_postbinning = true

    // TODO: enable when we have a suitable way to run a small test
    // GUNC fails with exit code 1 if no matches, see https://github.com/grp-bork/gunc/issues/42
    run_gunc                        = false
    gunc_db                         = params.pipelines_testdata_base_path + 'mag/databases/gunc/gunc-mock.dmnd'

    skip_metaeuk                    = false
    metaeuk_mmseqs_db               = 'UniProtKB/Swiss-Prot'
}
