/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mag -profile test_single_end,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name                  = 'Test single-end profile'
    config_profile_description           = 'Minimal test dataset to check pipeline function'

    input                                = params.pipelines_testdata_base_path + 'mag/samplesheets/samplesheet.single_end.v4.csv'
    single_end                           = true
    clip_tool                            = 'adapterremoval'
    host_fasta                           = params.pipelines_testdata_base_path + 'mag/host_reference/genome.hg38.chr21_10000bp_region.fa'
    // bbnorm is very slow!
    //bbnorm                               = true
    megahit_fix_cpu_1                    = true
    spades_fix_cpus                      = 1
    binning_map_mode                     = 'own'
    ancient_dna                          = true
    binning_map_mode                     = 'own'
    skip_spades                          = false
    skip_spadeshybrid                    = true
    bcftools_view_high_variant_quality   = 0
    bcftools_view_medium_variant_quality = 0
    bcftools_view_minimal_allelesupport  = 3
    skip_comebin                         = true
    min_length_unbinned_contigs          = 1000000
    max_unbinned_contigs                 = 2
    run_busco                            = false
    run_checkm                           = true
    run_virus_identification             = true
    genomad_splits                       = 7
    // micro_db not compatible with current genNomad version
    genomad_db                           = null
    // 'https://zenodo.org/records/11945948/files/genomad_microdb.tar.gz'
    gtdb_db                              = params.pipelines_testdata_base_path + 'mag/databases/gtdbtk/gtdbtk_mockup_20250422.tar.gz'
    gtdbtk_min_completeness              = 3
    gtdbtk_skip_aniscreen                = true
    cat_db                               = params.pipelines_testdata_base_path + 'mag/databases/cat/minigut_cat.tar.gz'
    cat_no_suggestive_asterisks          = true
}
