/*
========================================================================================
    Nextflow config file for testing CoverM native short-read coverage mapping
========================================================================================
*/

includeConfig 'test.config'

params {
    config_profile_name        = 'Test CoverM short-read profile'
    config_profile_description = 'Minimal test dataset using CoverM native short-read mapping'

    shortread_coverage_mapper  = 'minimap2-sr'
    save_assembly_mapped_reads = true
    skip_clipping              = true
    keep_phix                  = true
    skip_semibin               = true
    skip_prokka                = true
    skip_quast                 = true
    skip_binqc                 = true
    run_busco                  = false
    run_checkm                 = false
    run_checkm2                = false
    skip_gtdbtk                = true
    cat_db                     = null
}
