/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mag -profile test_ancient_dna,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}


params {
    config_profile_name                  = 'Ancient DNA test profile '
    config_profile_description           = 'Minimal test dataset to check pipeline function for ancient DNA step'

    // Input data
    input                                = params.pipelines_testdata_base_path + 'mag/samplesheets/samplesheet.csv'
    centrifuge_db                        = params.pipelines_testdata_base_path + 'mag/test_data/minigut_cf.tar.gz'
    kraken2_db                           = params.pipelines_testdata_base_path + 'mag/test_data/minigut_kraken.tgz'
    skip_krona                           = true
    min_length_unbinned_contigs          = 1
    max_unbinned_contigs                 = 2
    busco_db                             = "https://busco-data.ezlab.org/v5/data/lineages/bacteria_odb10.2024-01-08.tar.gz"
    skip_gtdbtk                          = true
    gtdbtk_min_completeness              = 0.01
    ancient_dna                          = true
    binning_map_mode                     = 'own'
    skip_spades                          = false
    skip_spadeshybrid                    = true
    bcftools_view_high_variant_quality   = 0
    bcftools_view_medium_variant_quality = 0
    bcftools_view_minimal_allelesupport  = 3
    refine_bins_dastool                  = true
    refine_bins_dastool_threshold        = 0
    skip_concoct                         = true
}
