/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests of alternative tools from default
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test
    of all alternative tools from a default test run.

    Use as follows:
        nextflow run nf-core/mag -profile test_alternatives,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name         = 'Test profile'
    config_profile_description  = 'Minimal test dataset with alternative tools to check pipeline function'

    // Input data -> Defaults
    input                       = params.pipelines_testdata_base_path + 'mag/samplesheets/samplesheet.multirun.csv'
    centrifuge_db               = params.pipelines_testdata_base_path + 'mag/test_data/minigut_cf.tar.gz'
    kraken2_db                  = params.pipelines_testdata_base_path + 'mag/test_data/minigut_kraken.tgz'
    skip_krona                  = false
    min_length_unbinned_contigs = 1
    max_unbinned_contigs        = 2
    busco_db                    = "https://busco-data.ezlab.org/v5/data/lineages/bacteria_odb10.2024-01-08.tar.gz"
    busco_clean                 = true
    skip_gtdbtk                 = true
    gtdbtk_min_completeness     = 0
    skip_concoct                = true

    // Alternate tools from default test
    clip_tool                   = 'adapterremoval'
    binqc_tool                  = 'checkm'
    bin_domain_classification   = true
}
