/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mag -profile test_hybrid,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input                       = 'https://raw.githubusercontent.com/nf-core/test-datasets/mag/samplesheets/samplesheet.hybrid.csv'
    keep_phix                   = true
    skip_clipping               = false
    skip_adapter_trimming       = false
    centrifuge_db               = null
    kraken2_db                  = null
    skip_krona                  = true
    coassemble_group            = true
    megahit_fix_cpu_1           = true
    skip_spades                 = true
    skip_spadeshybrid           = false
    spadeshybrid_fix_cpus       = 2
    skip_quast                  = true
    skip_prodigal               = true
    skip_binning                = true
    skip_binqc                  = true
    skip_gtdbtk                 = true
    skip_prokka                 = true
    skip_metaeuk                = true
}
