/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running alternative tools
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Runs input data but skipping all possible steps to allow for a fast testing
    profile for input checks etc.

    Use as follows:
        nextflow run nf-core/mag -profile test_alternatives,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name        = 'Test alternatives profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input                      = params.pipelines_testdata_base_path + 'mag/samplesheets/samplesheet.v4.csv'
    clip_tool                  = 'trimmomatic'
    coassemble_group           = true
    run_busco                  = true
    busco_clean                = true
    run_checkm2                = true
    bin_domain_classification  = true
    skip_spades                = true
    skip_quast                 = true
    skip_prodigal              = true
    skip_prokka                = true
    skip_gtdbtk                = true
    gtdbtk_skip_aniscreen      = true
    skip_maxbin2               = true
    skip_concoct               = true
    skip_comebin               = true
    skip_metabinner            = true
    skip_metaeuk               = true
    megahit_fix_cpu_1          = true
}
