/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/mag -profile test_hybrid_host_rm
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  host_fasta = "https://github.com/nf-core/test-datasets/raw/mag/host_reference/genome.hg38.chr21_10000bp_region.fa"
  params.manifest = 'https://github.com/nf-core/test-datasets/raw/mag/test_data/manifest_hg38host.txt'
  min_length_unbinned_contigs = 1
  max_unbinned_contigs = 2
}
