/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Runs input data but skipping all possible steps to allow for a fast testing
    profile for input checks etc.

    Use as follows:
        nextflow run nf-core/mag -profile test_nothing,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test CONCOCT profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input                      = params.pipelines_testdata_base_path + 'mag/samplesheets/samplesheet.csv'
    centrifuge_db              = null
    kraken2_db                 = null
    skip_krona                 = true
    skip_clipping              = true
    skip_adapter_trimming      = false
    skip_spades                = true
    skip_spadeshybrid          = true
    skip_megahit               = false
    skip_quast                 = true
    skip_prodigal              = true
    skip_binning               = false
    skip_metabat2              = false
    skip_maxbin2               = true
    skip_concoct               = false
    skip_prokka                = true
    skip_binqc                 = true
    skip_gtdbtk                = true
    gtdbtk_min_completeness    = 0.01
}
