/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mag -profile test_hybrid,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name           = 'Test hybrid profile'
    config_profile_description    = 'Minimal test dataset to check hybrid assembly'

    input                         = params.pipelines_testdata_base_path + 'mag/samplesheets/samplesheet.hybrid.v4.csv'
    host_fasta                    = params.pipelines_testdata_base_path + 'mag/host_reference/genome.hg38.chr21_10000bp_region.fa'

    busco_db                      = params.pipelines_testdata_base_path + 'mag/databases/busco/bacteria_odb10.2024-01-08.tar.gz'
    busco_db_lineage              = 'bacteria_odb10'

    longread_adaptertrimming_tool = 'porechop'
    longread_filtering_tool       = 'chopper'

    skip_spades                   = true
    skip_megahit                  = true
    skip_flye                     = true
    skip_metamdbg                 = true
    skip_gtdbtk                   = true
    gtdbtk_skip_aniscreen         = true
    skip_concoct                  = true
    skip_comebin                  = true

    spadeshybrid_fix_cpus         = 2
}
