/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mag -profile test_longread,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name           = 'Test longreadonly profile'
    config_profile_description    = 'Minimal test dataset to check longread-only assembly with alternative tools'

    input                         = params.pipelines_testdata_base_path + 'mag/samplesheets/samplesheet.long_read.v4.csv'

    busco_db                      = params.pipelines_testdata_base_path + 'mag/databases/busco/bacteria_odb10.2024-01-08.tar.gz'
    busco_db_lineage              = 'bacteria_odb10'

    longread_adaptertrimming_tool = 'porechop'
    longread_filtering_tool       = 'nanoq'

    skip_metamdbg                 = true
    skip_quast                    = true
    skip_prodigal                 = true
    skip_prokka                   = true
    skip_gtdbtk                   = true
    gtdbtk_skip_aniscreen         = true
    skip_concoct                  = true
    skip_comebin                  = true
    skip_metabinner               = true
    skip_semibin                  = true
    skip_metaeuk                  = true
}
