/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/mag -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    // hg19 reference with highly conserved and low-complexity regions masked by Brian Bushnell
    host_fasta                 = "s3://ngi-igenomes/test-data/mag/hg19_main_mask_ribo_animal_allplant_allfungus.fa.gz"
    input                      = "s3://ngi-igenomes/test-data/mag/samplesheets/samplesheet.full.csv"

    //centrifuge_db = "s3://ngi-igenomes/test-data/mag/p_compressed+h+v.tar.gz"
    kraken2_db                 = "s3://ngi-igenomes/test-data/mag/minikraken_8GB_202003.tgz"
    cat_db                     = "s3://ngi-igenomes/test-data/mag/CAT_prepare_20210107.tar.gz"
    // gtdb_db       = "s3://ngi-igenomes/test-data/mag/gtdbtk_r214_data.tar.gz" ## This should be updated to release 220, once we get GTDB-Tk working again
    skip_gtdbtk                = true

    // TODO TEMPORARY: deactivate SPAdes due to incompatibility of container with fusion file system
    skip_spades                = true
    skip_spadeshybrid          = true

    // reproducibility options for assembly
    spades_fix_cpus            = 10
    spadeshybrid_fix_cpus      = 10
    megahit_fix_cpu_1          = true

    // available options to enable reproducibility for BUSCO (--busco_db) not used here
    // to allow detection of possible problems in automated lineage selection mode using public databases

    // test CAT with official taxonomic ranks only
    cat_official_taxonomy      = true

    // Skip CONCOCT due to timeout issues
    skip_concoct               = true

    // Set Prokka compliance mode to allow metaSPAdes bins to be annotated
    prokka_with_compliance     = true
    prokka_compliance_centre  = "nfcore"
}
