/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/mag -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile for domain classification of bins and skipping all short read preprocessing.'
    config_profile_description = 'Minimal test dataset to check pipeline function when classifying bins into taxonomic domains, as well as skipping all short read preprocessing.'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input                         = 'https://raw.githubusercontent.com/nf-core/test-datasets/mag/samplesheets/samplesheet_euk.csv'
    skip_clipping                 = true
    keep_phix                     = true
    skip_krona                    = true
    min_length_unbinned_contigs   = 1
    max_unbinned_contigs          = 2
    gtdb                          = false
    skip_concoct                  = true
    bin_domain_classification     = true
}
