process {
    withName: MMSEQS_DATABASES {
        ext.prefix = { "${params.metaeuk_mmseqs_db.replaceAll("/", "-")}" }
        publishDir = [
            path: { "${params.outdir}/Annotation/mmseqs_db/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_mmseqs_db
        ]
    }
}