process {
    withName: FILTLONG {
        ext.args = [
            "--min_length ${params.longreads_min_length} ",
            "--keep_percent ${params.longreads_keep_percent}",
            "--trim",
            "--length_weight ${params.longreads_length_weight}"
        ].join(' ').trim()
        publishDir = [
                path: { "${params.outdir}/QC_longreads/Filtlong" },
                mode: params.publish_dir_mode,
                pattern: "*_lr_filtlong.fastq.gz",
                enabled: params.save_filtlong_reads
            ]
        ext.prefix = { "${meta.id}_lr_filtlong" }
    }
}