process {
    withName: NANOPLOT_RAW {
        ext.args = { "-p raw_ -c darkblue --title ${meta.id}_raw" }
        publishDir = [
            path: { "${params.outdir}/QC_longreads/NanoPlot/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{png,html,txt}"
        ]
    }

    withName: NANOPLOT_FILTERED {
        ext.args = { "-p filtered_ -c darkblue --title ${meta.id}_filtered" }
        publishDir = [
            path: { "${params.outdir}/QC_longreads/NanoPlot/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{png,html,txt}"
        ]
    }
}