process {
    withName: PORECHOP_PORECHOP {
        publishDir = [
                path: { "${params.outdir}/QC_longreads/porechop" },
                mode: params.publish_dir_mode,
                pattern: "*_porechop.fastq.gz",
                enabled: params.save_porechop_reads
            ]
        ext.prefix = { "${meta.id}_porechop" }
    }
}