process {
    withName: BOWTIE2_PHIX_REMOVAL_ALIGN {
        ext.prefix = { "${meta.id}_run${meta.run}_phix_removed" }
        publishDir = [
            [
                path: { "${params.outdir}/QC_shortreads/remove_phix" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ],
            [
                path: { "${params.outdir}/QC_shortreads/remove_phix" },
                mode: params.publish_dir_mode,
                pattern: "*.unmapped*.fastq.gz",
                enabled: params.save_phixremoved_reads
            ]
        ]
        tag = { "${meta.id}_run${meta.run}" }
    }

    withName: BOWTIE2_HOST_REMOVAL_ALIGN {
        ext.args = params.host_removal_verysensitive ? "--very-sensitive" : "--sensitive"
        ext.args2 = params.host_removal_save_ids ? "--host_removal_save_ids" : ''
        ext.prefix = { "${meta.id}_run${meta.run}_host_removed" }
        publishDir = [
            [
                path: { "${params.outdir}/QC_shortreads/remove_host" },
                mode: params.publish_dir_mode,
                pattern: "*{.log,read_ids.txt}"
            ],
            [
                path: { "${params.outdir}/QC_shortreads/remove_host" },
                mode: params.publish_dir_mode,
                pattern: "*.unmapped*.fastq.gz",
                enabled: params.save_hostremoved_reads
            ]
        ]
        tag = { "${meta.id}_run${meta.run}" }
    }
}