process {
    withName: NANOLYSE {
        publishDir = [
            [
                path: { "${params.outdir}/QC_longreads/NanoLyse" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ],
            [
                path: { "${params.outdir}/QC_longreads/NanoLyse" },
                mode: params.publish_dir_mode,
                pattern: "*_nanolyse.fastq.gz",
                enabled: params.save_lambdaremoved_reads
            ]
        ]
        ext.prefix = { "${meta.id}_nanolyse" }
    }
}