includeConfig '../../modules/nf-core/aria2/nextflow.config'
includeConfig '../../modules/nf-core/mmseqs/databases/nextflow.config'
includeConfig '../../modules/nf-core/fastqc/nextflow.config'
includeConfig '../../modules/nf-core/fastp/nextflow.config'
includeConfig '../../modules/nf-core/adapterremoval/nextflow.config'
includeConfig '../../modules/nf-core/bowtie2/build/nextflow.config'
includeConfig '../../modules/nf-core/bowtie2/align/nextflow.config'
includeConfig '../../modules/nf-core/cat/fastq/nextflow.config'
includeConfig '../../modules/nf-core/seqtk/mergepe/nextflow.config'
includeConfig '../../modules/nf-core/bbmap/bbnorm/nextflow.config'
includeConfig '../../modules/nf-core/nanoplot/nextflow.config'
includeConfig '../../modules/nf-core/porechop/porechop/nextflow.config'
includeConfig '../../modules/nf-core/nanolyse/nextflow.config'
includeConfig '../../modules/nf-core/filtlong/nextflow.config'
